<div class="skills-grid" style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 1rem;">
  {% for skill in data[1] %}
    <div class="skill-block">
      <h6 class="title font-weight-bold skill-title-green">
        {{ skill.name }}
      </h6>

      {% if skill.keywords and skill.keywords.size > 0 %}
        <ul class="item" style="font-size: 0.95rem; font-style: sans-serif; margin: 1em; padding: 0;">
          {% for keyword in skill.keywords %}
            <li>
              <span class="item">{{ keyword }}</span>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  {% endfor %}
</div>
